body {
    font-family: Arial, sans-serif;
}

.container {
    width: 842px;
    margin: 11px auto;
}

.numbering {
    width: 30px;
}
.label {
    width: 170px;
    text-align: left;
}

.button {
    padding: 5px;
    color: white;
    background: #000;
    cursor: pointer;
    text-align: center;
}

table {
    margin-bottom: 10px;
}
.table {
    padding: 5px 20px;
}

hr {
	border-style: dashed;
    margin-bottom: 20px;
    border-color: black;
}

table, th, td {
    border-collapse: collapse;
}

tr.border {
    
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}


.section.head-section {
    padding: 5px 20px;
    border: 3px solid #000000;
    display: inline-block;
}

.section.head-section .logo {
    width: 16%;
}

.section.head-section .logo img {
    max-width: 100%;
} 

.section.head-section .heading {
    padding-top: 15px;
    width: 71%;
}

.section.head-section .image-place {
    width: 12%;
    border:  1px solid #000000;
    /* font-weight: bold; */
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.body-section {
    border: 3px solid #000000;
    padding: 15px 0px;
    /* font-weight: bold; */
}

.body-section table {
    width: 100%;
}
.body-section table.v-top td {
    width: 100%;
    vertical-align: top;
}

.input-helper {
    font-weight: normal;
    font-size: 11px;
}

input, input:hover {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
}
input[type="text"] {
    width: 100%;
}